.footer {
    padding: 10px 10px 0 10px;
    background-color: blue;
    margin-bottom: 0px;
    color: #fff;
    margin-top: 10px;
}

.card-hardware{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0 !important;
}

.enlaces{
    text-decoration: none !important;
    color: #fff !important;
}


